@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}
.header_text{
    margin: 30px auto;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    text-align: center;

}
.text1{
    color: hsl(229, 6%, 66%);
    font-weight: 300;
    font-size: 27px;
    
}
.text2{
    color: hsl(234, 12%, 34%);
    margin-bottom: 15px;
    font-size: 27px;
}
.text3{
    color: hsl(229, 6%, 66%);
}



/*Columns

*/

.column1{
    border: 1px solid  #ffff;
    border-top: 5px solid hsl(180, 62%, 55%);
    border-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 330px;
    margin-left: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    padding: 20px;
    height: 225px;

}

.column1-header{
    margin-top: 3px;
    margin-bottom: 6px;
    
}
.column1-text{
    color: hsl(229, 6%, 66%);
    font-size: 13px;
    width: 20%;
    
    
    text-align: left;
}
.logo1{
    margin-top: 30px;
    display: flex;
    justify-content: right;
 
}

#col2-1{
    border-top: 5px solid hsl(0, 78%, 62%);
    margin-bottom: 30px;
}
#col2-2{
    border-top: 5px solid hsl(34, 97%, 64%);
}
#col3{
    border-top: 5px solid hsl(212, 86%, 64%);
}

/*column flex*/

.columns{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

/*responsive design*/
@media screen and (max-width: 940px) {

    .columns{
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        
    }
    .column1{
        margin-bottom: 30px;
    }
    body{
        margin: 0 auto;
    }
    
    .column1-header{
        width: 300px;
    }
    .text1,.text2,.text3{
     width: 500px;
    }
 
    }

    @media screen and (max-width: 550px) {
        .text3{
            width: 300px;
        }
    }